:root {
  // light
  --color-light-50: #f4f2fa;
  --color-light-100: #afaeb6;
  --color-light-300: #9c9bab;
  --color-light-500: #88879f;
  --color-light-700: #75748f;
  --color-light-900: #61607e;

  // warning
  --color-warning-100: #f9b468;
  --color-warning-300: #f79851;
  --color-warning-500: #f47b3a;
  --color-warning-700: #ea7b2e;
  --color-warning-900: #d66b27;
  --color-warning-1100: #bb5b21;

  // dark
  --color-dark-100: #808080;
  --color-dark-300: #4c4c4c;
  --color-dark-500: #333;
  --color-dark-600: #282828;
  --color-dark-700: #171717;
  --color-dark-900: #000;
}
